@import url(/node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(assets/css/bootstrap.min.css);
@import url(assets/css/icofont.min.css);
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.navbar-expand-lg .navbar-nav .nav-item {padding-right: .5rem;padding-left: .5rem;}
.navbar-expand-lg .navbar-nav .nav-item a { text-decoration: none;}
.navbar-expand-lg .navbar-nav .nav-item a.active {color: rgb(255, 0, 0); text-decoration: underline;}

.errorimg {display: flex; align-items: center; justify-content: center; }
.errorimg img {max-width: 120px;}
.errorimg span {font-size: 8vh; font-weight: normal; }
.notfound h1 {font-weight: bold; font-size: 5vh; }

.container {display: flex; align-items: center; justify-content: center; height: 50vh;}
.footer {background-color: darkgray; padding: 5px 20px;}
.footer .copyright {text-align: center;}
.footer .copyright p {font-size: 14px; margin-bottom: 0;}