@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;1,200&display=swap');
/* @import url(/node_modules/bootstrap/dist/css/bootstrap.min.css); */
/* @import url(./assets/css/bootstrap.min.css); */
@import url(./assets/css/icofont.min.css);
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.icofont-simple-left,.icofont-simple-right {font-size: 30x; color: #000;}
/* .feature-section .owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.feature-section .owl-nav button.owl-prev {
  left: 0;
}
.feature-section .owl-nav button.owl-next {
  right: 0;
} */

.feature-section .owl-dots {
  text-align: center;
  padding-top: 15px;
  margin-bottom: 50px;
}
.feature-section .owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: rgb(117, 117, 117);
  margin: 0 3px;
}
.feature-section .owl-dots button.owl-dot.active {
  background-color: #000 ;
}
/* .feature-section .owl-dots button.owl-dot:focus {
  outline: none;
}
.feature-section .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38);
}
.feature-section .owl-dot span {
    font-size: 70px;    
    position: relative;
    top: -5px;
}
.feature-section  .owl-nav button:focus {
    outline: none;
} */


/*--------- Preloader --------*/
#preloader{position:fixed;top:0;left:0;right:0;bottom:0;z-index:9999;overflow:hidden;background:#fff}
#preloader:before{content:"";position:fixed;top:calc(50% - 30px);left:calc(50% - 30px);border:6px solid #98b33e;border-top-color:#efefef;border-radius:50%;width:60px;height:60px;-webkit-animation:animate-preloader 1s linear infinite;animation:animate-preloader 1s linear infinite}
@-webkit-keyframes animate-preloader{
0%{transform:rotate(0)}
100%{transform:rotate(360deg)}
}
@keyframes animate-preloader{
0%{transform:rotate(0)}
100%{transform:rotate(360deg)}
} 

:root {
  --footer-height: 40px;
  --min-height: 40px;
  --color-orange: #fd7e14;
  --color-red: #EE342E;
  --color-black: #121212;

} 

body {font-family: 'Poppins', sans-serif !important;color: #121212;}
.navbar-expand-lg .navbar-nav .nav-item {padding-right: .5rem;padding-left: .5rem;}
.navbar-expand-lg .navbar-nav .nav-item a { text-decoration: none; color: var(--color-black); }
.navbar-expand-lg .navbar-nav .nav-item a.active {color: rgb(255, 0, 0); text-decoration: none;}
p {font-size: 16px;line-height: 1.4;font-weight: 300; white-space: normal;}

.rightmenu {display: flex;}

.top-alert {position: relative; margin: 0; width: 100%; height: auto; background-color:var(--color-red);}
.top-alert p {font-weight: normal;color: #fff; line-height: normal;  padding:10px; padding-right: 20px; margin: 0; }
.top-alert .closebtn {margin-left: 15px;color: white;font-weight: bold;float: right;font-size: 25px;line-height: 20px;cursor: pointer;transition: 0.3s;position: absolute;top: 10px;right: 15px;}

.rightmenu .dropdown {margin-right: 20px;}
.rightmenu .dropdown-toggle::after, .main-footer .footer-inner-wrap .dropdown-toggle::after  {display: none;}
.rightmenu .dropdown-toggle::before,.main-footer .footer-inner-wrap .dropdown-toggle::before {content:"\eab2";display:block;position:absolute;left:auto;right:0;font-family:'IcoFont';font-weight:900;font-size:14px;height:10px;line-height:0;width:10px;margin-top:12px;transition:all .25s ease-in-out}

main,#main { min-height: calc(100vh - var(--min-height));}
.section-title p{font-size:16px;font-weight:300; line-height: 1.4;}



.errorimg {display: flex; align-items: center; justify-content: center; }
.errorimg img {max-width: 120px;}
.errorimg span {font-size: 8vh; font-weight: normal; }
.notfound h1 {font-weight: bold; font-size: 5vh; }


.navbar-brand img {max-width: 130px; height: auto;}
.main-home-banner {background-position: center; background-repeat: no-repeat; background-size: cover; max-height: 500px; height: 500px; position: relative; }


.home-banner {position: relative;height: calc(80vh - 20px);}

.hero-section-wrap {max-width: 800px; text-align:center; margin: 0 auto;position: relative; padding-top: 50px;}
.hero-banner-content .sub-title {font-size: 18px;font-weight: 500;color: #fff; background-color: var(--color-red); padding: 5px 10px; border-radius: 5px; -webkit-border-radius: 5px; }
.hero-banner-content h1 {font-weight: bold; font-size: 5vh; color: #fff;margin-top: 10px;margin-bottom: 10px;line-height: 1.1; text-align: center;}
.hero-banner-content p {font-size: 16px;color: #fff;margin-bottom: 35px;}

.main-form-wrap {background-color: #fff; border-radius: 0px 8px 8px 8px;-webkit-border-radius: 0px 8px 8px 8px; width: 100%; box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.25); position: relative; }
.main-form-wrap::after {content: ""; position: absolute; left: 0; width: 100%; height: 90px; bottom: 0; background: url(../src/assets/images/svg-img/citysiloutt.svg) no-repeat 0 -40px;    background-size: 100% 350%;opacity: 0.2; }
/* .main-form-wrap .tab-content>.tab-pane {padding-top: 50px;} */
.search-engine-home {position: relative; padding: 40px 40px 100px 40px;}
/* .nav-tabs {flex-wrap: wrap; align-items: center; justify-content: center; } */
.main-home-banner .react-tabs__tab-list {margin-bottom: 0; display: flex; align-items: flex-end; list-style: none; padding: 0;  }
.main-home-banner .react-tabs__tab {background-color: #6c7578; color: white; margin-right: 1px; padding: 10px 15px; cursor: pointer; transition: 0.3s;border-radius: 8px 8px 0px 0px;-webkit-border-radius: 8px 8px 0px 0px; }
.main-home-banner .react-tabs__tab--selected {background-color:var(--color-red); color: white; }
.main-home-banner .nav-tabs .nav-link:focus,.main-home-banner .nav-tabs .nav-link:hover {border-color: transparent;background-color: var(--color-red);color: #fff;}
.main-home-banner .nav-tabs .nav-link.active {background-color: var(--color-red);}

.search-hotel-form .field-section i {position: absolute;top: 50%;left: 15px;transform: translateY(-50%);font-size: 15px;color: #01b7f2;z-index: 100;}
.search-hotel-form label {display: block;font-size: 12px;line-height: 1;font-weight: 600;color: #6c7578;letter-spacing: 1px;text-transform: uppercase;margin-bottom: 17px;}
.search-hotel-form .field-section {position: relative;}
.search-hotel-form {display: flex;align-items: flex-end;justify-content: space-between;flex-wrap: wrap;}
.search-hotel-form > div {position: relative;flex: 1 1 auto;padding-right: 10px;margin-bottom: 25px;}
.search-hotel-form > div.check-in-out-wrap {max-width: 330px;}
.search-hotel-form .field-section .form-control{display: block;font-size: 16px;font-weight: 500;line-height: 1.5; color: #1e2325;background-color: transparent;padding: 14px 20px;padding-left: 35px;border: 1px solid #dce5e8;border-radius: 4px;height: auto;}
.search-hotel-form > div.guest-wrap .form-control {cursor: pointer;}
.search-hotel-form .check-in-out-wrap .field-sections{position: relative;border: 1px solid #dce5e8; border-radius: 4px;}
.search-hotel-form > div:last-child {padding: 0;width: 100%;text-align: center;}
.search-hotel-form .guest-wrap .guest-dropdown-info {position: absolute;left: 0;top: 100%;border: 1px solid #dce5e8;border-radius: 4px;background-color: #fff;padding: 20px 30px;margin-top: -1px;box-shadow: 0px 10px 20px rgb(30 35 37 / 10%);z-index: 100; /*opacity: 0;visibility: hidden; */}
.search-hotel-form .guest-wrap .qty-field {display: flex;align-items: center;justify-content: space-between; margin-bottom: 15px;}
.search-hotel-form .guest-wrap .guest-description {font-size: 14px; margin-top: 15px;margin-bottom: 0;}
.search-hotel-form .check-in-out-wrap > div .field-section, .search-hotel-form .check-in-out-wrap > div .form-label {flex: 1 1 50%;max-width: 50%;}
.search-hotel-form .field-section .date-value.form-control {border: 0;}
.search-hotel-form .check-in-out-wrap > div {display: flex;align-items: center;}
.search-hotel-form .check-in-out-wrap .field-sections .date-in:after {content: '';display: block;position: absolute;width: 1px;right: 0;top: 9px;bottom: 9px;background-color: #dce5e8;}
.search-engine-home .form-submit .submit-btn {border: 0; outline: none; background-color: var(--color-red); color: white; transition: 0.3s;font-size: 20px;padding: 10px 30px;}

.search-hotel-form > .guest-wrap {padding-right: 0;}


/* .main-form-wrap .bottomimg {width: 100%; position: relative; height: 150px; overflow: hidden;  } */
/* .main-form-wrap .bottomimg img { width: 100%; height: auto; opacity: 0.2; margin-top:0px;    } */
.count-wrap i {font-size: 12px;width: 30px;height: 30px;line-height: 30px;text-align: center;border-radius: 50%;border: 1px solid;cursor: pointer;transition: all 0.25s ease-in-out;}
.search-hotel-form .guest-wrap .qty-field .label-wrap .title{display: block;font-size: 18px;font-weight: 500;line-height: 20px;color: #1e2325;}
.search-hotel-form .guest-wrap .qty-field .label-wrap .desc {display: block;font-size: 14px;line-height: 20px;color: #6c7578;margin-top: 3px;}
.count-wrap i.icofont-minus{border-color:#dde6e9;color:#dde6e9}
.count-wrap i.icofont-plus{border-color:#01b7f2;color:#01b7f2}
.count-wrap{display:inline-flex;align-items:center}
.search-hotel-form .guest-wrap .qty-field{display:flex;align-items:center;justify-content:space-between;margin-bottom:15px}
.search-hotel-form .guest-wrap .guest-dropdown-info .guest-qty-section{border-bottom:1px solid #dce5e8}
.search-hotel-form .guest-wrap .guest-description{font-size:14px;margin-top:15px;margin-bottom:0}
.count-wrap .count-value{font-size:18px;font-weight:600;padding:0 10px;background-color:transparent;border:none;outline:0;box-shadow:none!important;width:40px;text-align:center}
.search-hotel-form .guest-wrap .guest-description{font-size:14px;margin-top:15px;margin-bottom:0}
.search-hotel-form .guest-wrap .qty-field .label-wrap .desc{display:block;font-size:14px;line-height:20px;color:#6c7578;margin-top:3px}

.search-engine-home input.count-value[type=number] {-moz-appearance: textfield;}
.search-engine-home input.count-value::-webkit-outer-spin-button,
.search-engine-home input.count-value::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}

.section-title{max-width:720px;text-align:center;margin-right:auto;margin-left:auto;margin-bottom:50px;position:relative;z-index:5}
.section-title h2{font-size:42px;line-height:1;margin-top:-5px;margin-bottom:25px; font-weight: 600;}

.section-title p{max-width:640px;font-size:18px;margin-left:auto;margin-right:auto}
.feature-section .item-single{position:relative}
.mb-30{margin-bottom:30px}
.feature-section .item-single img{border-radius:5px}
/* img{max-width:100%;height:auto} */
.feature-section .item-single .content{position:absolute;bottom:0;left:15px;background:#fff;border-radius:7px;padding:25px;width:100%;max-width:calc(100% - 30px);-webkit-transition:.5s;transition:.5s;-webkit-box-shadow:0 0 30px 0 rgb(102 102 102 / 9%);box-shadow:0 0 30px 0 rgb(102 102 102 / 9%);transition:ease-in-out .2s;/*-webkit-animation:fadeInUp .3s linear 1;animation:fadeInUp .3s linear 1;*/ }
.feature-section .item-single .content span{color:#797979;font-size:14px}
.feature-section .item-single .content .review span:last-child {padding-left: 5px;}
.feature-section .item-single .content h3{margin-top:5px;margin-bottom:5px}
  h3 {font-weight:600;font-size:20px}
.feature-section .item-single .content h3 a{color:#090031;text-decoration:none}
.feature-section .item-single .content i{color:#797979;margin-right:4px;vertical-align:-1px}
.feature-section .item-single .content span{color:#797979;font-size:14px}
.feature-section .item-single .content p{padding-top:15px;display:none;font-size:15px; transition: 0.3s;}
.feature-section .item-single .content .list{padding:0;margin-bottom:0;list-style:none;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.feature-section .item-single .content .list li{display:inline-block;margin-right:12px;color:#797979}
.feature-section .item-single .content i{color:#797979;margin-right:4px;vertical-align:-1px}
.feature-section .item-single .content .list li:last-child{font-weight:600;margin-right:0;color:#fd5056;margin-left:auto}
.feature-section .item-single .spacer{width:100%;min-height:150px}
.feature-section .item-single:hover .content{background:#4141a5;}
.feature-section .item-single:hover .content span{color:#d6d6d6}
.feature-section .item-single:hover .content h3 a{-webkit-transition:none;transition:none;color:#fff}
.feature-section .item-single:hover .content i{color:#d6d6d6}
.feature-section .item-single:hover .content span{color:#d6d6d6}
.feature-section .item-single:hover .content p{color:#d6d6d6;display:block}
.feature-section .item-single:hover .content .list li{color:#d6d6d6}
.feature-section .item-single:hover .content i{color:#d6d6d6}
.feature-section .item-single:hover .content .list li:last-child{color:#fff}

.bg-gradient2 {background: rgb(2,0,36);background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,102,0,0.6) 0%, rgba(85,0,255,0.6) 100%); height: 100%;}


.my-full-grid { display: flex;flex-wrap: wrap;}
.my-col-1 {margin-left: 33%; padding: 3rem 2rem 0rem 0; }


#best-features.black-features img {max-width: 100%;height: 570px; }   


/************* BLACK-FEATURES *************/

#best-features.black-features{
	background:#01b7f2;
	color:white;
  padding:0;
}


#best-features.black-features .b-feature-block i{
	border:3px solid #fff;
	color:#fff;
}

#best-features.black-features .b-feature-block:hover i{
	background:#fff;
	color:#000;
}

#best-features.black-features .b-feature-block p{
	color:white;
}

/*********** LIGHTGREY-FEATURES ***********/

#best-features.lightgrey-features{	
	background:#f5f5f5;
	color:#000;
}

#best-features.lightgrey-features .b-feature-block i{
	border:3px solid #000;
	color:white;
	background:#000;
}

#best-features.lightgrey-features .b-feature-block:hover i{
	color:#000;
	background:transparent;
}

#best-features.lightgrey-features .b-feature-block p{
	color:#000;
}

/************* ORANGE FEATURES ************/

#best-features.orange-features{
	background:#7544d7;
	color:#000;
}

#best-features.orange-features .b-feature-block a{
	border:3px solid #000;
	color:white;
	background:#000;
}

#best-features.orange-features .b-feature-block:hover i{
	color:#000;
	background:transparent;
}

#best-features.orange-features .b-feature-block p{
	color:#000;
}

.b-feature-block{
	text-align:center;
  margin-bottom: 30px;
}

.b-feature-block i{
	height:70px;
	width:65px;
	text-align:center;
	padding-top:15px;
	font-size:35px;
	margin-bottom:28px;
	transition:.4s;
  display: inline-block;
}

.b-feature-block h3{
	font-size:20px;
	font-weight:600;
	margin-bottom:6px;
}

.b-feature-block p{
	margin-bottom:0px;
}

.b-feature-block:hover i {
	transform:rotateY(180deg);
}
.register .modal-body {padding: 2rem;}
.register .form-control {font-weight: 300; border: 0; border-radius: 0; border-bottom: 1px solid rgba(0, 0, 0, 0.25); transition: 0.3s; padding-left: 0;}
.register .form-control:focus {box-shadow: none; border: 0; border-bottom: 1px solid var(--color-red);}




.register .react-tabs__tab-list {display:flex; padding: 0; list-style: none; margin: 0;}
.register .react-tabs__tab {cursor: pointer; text-decoration:none; text-transform: uppercase; border: 0; outline: none; margin-right: 10px; transition: 0.3s;}
.register .react-tabs__tab--selected {color: var(--color-red);}
.register .react-tabs__tab--selected:last-child {margin-right: 0;}
.register h4  {font-size: 18px; margin-bottom: 30px; text-align: center;}
.not-resistered {text-align: center;padding-top: 20px;}


.main-footer{font-size:16px;font-weight:500;line-height:30px; background-color: #2D3976; padding:0;}
.footer-topbar-wrap {background-color: #dbe5e9; padding: 20px 0; }
.footer-topbar { display: flex; flex-wrap: wrap; align-items: center; }
.footer-topbar .topbar-widget {flex:0 0 auto; width: 50%;}
.footer-topbar .trusted-bx {display: flex; align-items: center; justify-content: center;}
.footer-topbar .trusted-bx img {max-width: 200px; margin-right: 10px;}
.footer-topbar .trusted-bx img:last-child {margin-right: 0px;}

.subscribe-form-inner {margin-left: 50px;}
.subscribe-form-inner .subscribe-title {font-size: 20px; line-height: normal; font-weight: 600;  margin-bottom: 0;}
.subscribe-form-inner .description {font-size: 14px; line-height: normal; font-weight: 300;}
.subscribe-form {display: flex;}
.subscribe-form .form-control {height: 50px;border: 0;border-radius: 0;}
.subscribe-form .submit-btn {background: rgb(2,0,36);background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,102,0,0.8) 0%, rgba(85,0,255,0.8) 100%); height: 50px; border-radius: 0; outline: 0; border: 0; color: #fff;}


/* .main-footer div[class*=footer-widget-]>div{margin-bottom:60px} */
.footer-inner-wrap {padding-top: 20px; color:white;}
.main-footer .widget-title,footer.main-footer .widgettitle{font-size:14px;font-weight:600;line-height:30px;color:#1e2325;text-transform:uppercase;margin-bottom:40px}
.widget_travcontactwidget .description{margin-bottom:30px;font-weight: 300;line-height: normal;}
.widget_travcontactwidget .contact-info{display:flex;flex-direction:column;margin-bottom:25px}
.widget_travcontactwidget .contact-info .phone-num {font-size:22px;color:#01b7f2}
.widget_travcontactwidget .contact-info .email-address{font-size:16px;}
.widget_travcontactwidget .contact-info .email-address i{font-size:24px;color:#01b7f2}
.main-footer .footer-widget {margin-top:10px}
.social_links .social-icons{display:flex;flex-wrap:wrap}
.social_links .social-icons a{width:30px;height:30px;border-radius:4px;margin-right:20px;margin-bottom:20px;text-align:center;background-color:#3b5898; color: white; text-decoration: none;}
.social_links .social-icons a:nth-child(5n+1){background-color:#3b5898}
.social_links .social-icons a:nth-child(5n+2){background-color:#03b0ee}
.social_links .social-icons a:nth-child(5n+3){background-color:#bd091c}
.social_links .social-icons a:nth-child(5n+4){background-color:#557fa2}
.social_links .social-icons a:last-child{margin-right:0}
.social_links .social-icons a:nth-child(5n){background-color:#1871bc}
.main-footer .widget-title,.main-footer .widgettitle{font-size:14px;font-weight:600;line-height:30px;color:#1e2325;text-transform:uppercase;margin-bottom:40px}
.main-footer .widget_nav_menu ul{padding:0;margin:0;list-style:none}
.main-footer ul li a{text-decoration:none;color:#fff;transition:all .25s ease-in-out; font-weight: 300;}
.main-footer ul li a:hover{text-decoration:none;color:var(--color-red);}
.main-footer ul li{position:relative;font-size:15px;font-weight:400;line-height:35px;padding-left:20px}
.main-footer ul li:before{content:"\eaca";display:block;position:absolute;left:0;font-family:'IcoFont';font-weight:900;font-size:14px;height:10px;line-height:10px;width:10px;margin-top:12px;transition:all .25s ease-in-out}
.main-footer .widget_nav_menu ul .menu-item a{position:relative;display:inline-block;color:#fff;text-decoration:none; transition: 0.3s;}
.main-footer .widget_nav_menu ul .menu-item a:hover{color:var(--color-red);text-decoration:none}
.main-footer .widget-title,footer.main-footer .widgettitle{font-size:15px;font-weight:600;line-height:30px;color:#fff;text-transform:uppercase;margin-bottom:30px}
.main-footer .copyright {text-align: center; background-color: #354283; color: white;}
.main-footer .copyright p {font-size: 14px; margin-bottom: 0;}
